{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<!-- MAIN TITLE -->
		<div class="main-title" style="background-image: url('{% static 'img/1.jpeg' %}')">
			<div class="container">
				<h1 class="main-title__primary">News</h1>
				<h3 class="main-title__secondary">What is happening around us</h3>
			</div>
		</div><!-- /.main-title -->

		<!-- BREADCRUMBS -->
		<div class="breadcrumbs">
			<div class="container">
				<span>
					<a class="home" href="{% url 'home' %}" title="Go to CargoPress." rel="v:url">Speed Courier Service</a>
				</span>
				<span>
					<a href="{% url 'newsfeed' %}" title="Go to News." property="v:title" rel="v:url">News</a>
				</span>
				<span>
					<a href="{% url 'newsfeed' %}" title="Go to Delivery." property="v:title" rel="v:url">Delivery</a>
				</span>
				<span>
					<span>Why choose our warehousing service?</span>
				</span>
			</div>
		</div><!-- /.breadcrumbs -->

		<div class="container">

			<div class="row margin-bottom-30">

				<div class="col-xs-12 col-md-9">

					<article class="clearfix hentry">
						<a href="{% url 'article' %}">
							<img alt="placeholder" class="img-responsive" src="{% static 'img/placeholders/848x480.png' %}">
						</a>
						<div class="meta-data">
							<time class="meta-data__date" datetime="2015-05-06T15:00:06+00:00">May 6, 2015</time>
							<span class="meta-data__separator">/</span>
							<span class="meta-data__author">By Jaka Smid</span>
							<span class="meta-data__separator">/</span>
							<span class="meta-data__categories">
								<a rel="category tag" href="#">Delivery</a> • <a rel="category tag" href="#">Shipping</a>
							</span>
							<span class="meta-data__separator">/</span>
							<span class="meta-data__tags">
								<a rel="tag" href="#">Warehouse</a>
							</span>
							<span class="meta-data__separator">/</span>
							<span class="meta-data__comments">
								<a href="{% url 'article' %}#comments">1 Comment</a>
							</span>
						</div>
						<h2 class="hentry__title">Why choose our warehousing service?</h2>
						<div class="hentry__content">
							<p>
								Our warehousing services are known nationwide to be one of the most reliable, safe and affordable, because we take pride in delivering the best of warehousing services, at the most reasonable prices. Our own warehouses, as well as our partner’s warehouses are located at strategic locations to ensure that there is no additional cost you need to bear during and before transport of freight.
							</p>
							<p>
								We do not only provide customized storage solutions that aligns with your business, but also provide a range of other warehousing services, which includes fulfilment, returns management, packaging, specialty wrapping, transportation, logistic support, customized logistic process, supply chain management, distribution, inventory control, door-to-door transport, pick and pack operations, cross dock distribution, labelling, temperature controlled storage solutions, food grade facilities, and so on.
							</p>
							<p>
								Our team of logistics experts would consult with you and understand your business requirements minutely and come up with a warehousing and logistic process that is custom tailored to fit your business requirements accurately. It would help in cutting down costs, and enhancing profitability. Not only would our warehousing services cut down cost, the benefits you make would be passed on to the customers and your net profit, which would create a growth oriented environment for your business and enhance your market reputation.
							</p>
							<p>
								Apart from the regular warehousing services, we provide a range of value added customer specific services to help them with their business, order fulfilment, packaging, assembly and kitting requirements. Our logistics and warehousing tools and equipment are state-of-the-art, and provide the best of warehousing services available to date. We continue to upgrade our warehouses with the advanced technologies and processes, as and when they are available, to ensure that our clients are able to benefit from the evolving logistic market. Consult with our warehousing and logistics experts today to find out in details how our warehousing services can be beneficial for you, and rest assured you won’t be disappointed.
							</p>
						</div>
						<div class="comments-post-196" id="comments">

							<h2 class="comments__heading">1 Comment</h2>

							<ul class="comments-container">
								<li class="comment clearfix ">
									<div class="avatar-container">
										<img srcset="https://secure.gravatar.com/avatar/17bad14f77b7a5284ef49e351721c406?s=300&amp;d=mm&amp;r=g 2x" src="https://secure.gravatar.com/avatar/17bad14f77b7a5284ef49e351721c406?s=150&amp;d=mm&amp;r=g" alt="">
									</div>
									<div class="comment-content">
										<div class="comment-inner">
											<cite class="comment-author vcard">lenagregorcic</cite>
											<div class="comment-metadata">
												<time datetime="2015-05-22T06:42:19+00:00">May 22, 2015 at 6:42 am</time>
												/ <a aria-label="Reply to lenagregorcic" href="#respond" class="comment-reply-link" rel="nofollow">Reply</a>
											</div>
											<div class="comment-text">
												<p>Wow, that is just amazing!</p>
											</div>
										</div>
									</div>
								</li>
							</ul><!-- /.comments-container -->

							<!-- <h2 class="comments__heading">Write a Comment</h2>

							<div class="comment-respond" id="respond">

								<form novalidate="" class="comment-form" method="post" action="#">

									<p>
										<span>Your email address will not be published.</span>
										Required fields are marked
										<span class="required">*</span>
									</p>

									<div class="row">
										<div class="col-xs-12 col-sm-6 form-group">
											<label for="author">First and Last name
												<span class="required theme-clr">*</span>
											</label>
											<input type="text" required="" aria-required="true" class="form-control" value="" name="author" id="author">
										</div>
									</div>

									<div class="row">
										<div class="col-xs-12 col-sm-6 form-group">
											<label for="email">E-mail Address
												<span class="required theme-clr">*</span>
											</label>
											<input type="email" required="" aria-required="true" class="form-control" value="" name="email" id="email">
										</div>
									</div>

									<div class="row">
										<div class="col-xs-12 col-sm-6 form-group">
											<label for="url">Website</label>
											<input type="url" class="form-control" value="" name="url" id="url">
										</div>
									</div>

									<div class="row">
										<div class="col-xs-12 form-group">
											<label for="comment">Your comment
												<span class="required theme-clr">*</span>
											</label>
											<textarea aria-required="true" rows="8" class="form-control" name="comment" id="comment"></textarea>
										</div>
									</div>

									<p class="form-submit">
										<input type="submit" value="Post Comment" class="submit btn btn-primary text-uppercase" id="comments-submit-button" name="submit">
									</p>

								</form>

							</div>--><!-- /.comment-respond -->

						</div><!-- /.comments -->

					</article>



				</div><!-- /.col -->

				<div class="col-xs-12 col-md-3">

					<div class="sidebar">
						<div class="widget_search">
							<form action="#" class="search-form" method="get">
								<label>
									<span class="screen-reader-text">Search for:</span>
									<input type="search" name="s" value="" placeholder="Search ..." class="search-field">
								</label>
								<button class="search-submit" type="submit"><i class="fa fa-lg fa-search"></i></button>
							</form>
						</div>
						<div class="widget_recent_entries">
							<h4 class="sidebar__headings">RECENT POSTS</h4> <ul>
								<li>
									<a href="{% url 'article' %}">Why choose our warehousing service?</a>
								</li>
								<li>
									<a href="{% url 'article' %}">Top benefits of hiring our trucking service</a>
								</li>
								<li>
									<a href="{% url 'article' %}">Logistic service providers would understand your business</a>
								</li>
								<li>
									<a href="{% url 'article' %}">Our trucking service ensures you best quality services at all times</a>
								</li>
								<li>
									<a href="{% url 'article' %}">We are experienced and expert in the business of logistics</a>
								</li>
							</ul>
						</div>
						<div class="widget_tag_cloud">
							<h4 class="sidebar__headings">TAG CLOUD</h4>
							<div class="tagcloud">
								<a style="font-size: 8pt;" title="1 topic" href="#">Benefits</a>
								<a style="font-size: 8pt;" title="1 topic" href="#">Cargo</a>
								<a style="font-size: 10.4pt;" title="2 topics" href="#">logistic</a>
								<a style="font-size: 8pt;" title="1 topic" href="#">marketing</a>
								<a style="font-size: 8pt;" title="1 topic" href="#">Shipping</a>
								<a style="font-size: 8pt;" title="1 topic" href="#">Tracking</a>
								<a style="font-size: 8pt;" title="1 topic" href="#">transport</a>
								<a style="font-size: 12pt;" title="3 topics" href="#">Trucking</a>
								<a style="font-size: 8pt;" title="1 topic" href="#">Unbeatable Services</a>
								<a style="font-size: 10.4pt;" title="2 topics" href="#">Warehouse</a>
							</div>
						</div>
						<div class="widget_categories">
							<h4 class="sidebar__headings">CATEGORIES</h4>
							<ul>
								<li>
									<a href="#">Cargo</a>
								</li>
								<li>
									<a href="#">Delivery</a>
								</li>
								<li>
									<a href="#">International</a>
								</li>
								<li>
									<a href="#">Logistic</a>
								</li>
								<li>
									<a href="#">Moving</a>
								</li>
								<li>
									<a href="#">Shipping</a>
								</li>
								<li>
									<a href="#">Storage</a>
								</li>
								<li>
									<a href="#">Transport</a>
								</li>
								<li>
									<a href="#">Trucking</a>
								</li>
								<li>
									<a href="#">Warehouse</a>
								</li>
							</ul>
						</div>
					</div>

				</div><!-- /.col -->

			</div><!-- /.row -->

		</div><!-- /.container -->
{% endblock %}
