{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Receipt</title>
</head>
<body>
    <style>
        @font-face {
            font-family: kristi;
            src: url('{% static 'fonts/bradhitc.ttf' %}');
        }
    </style>
    <div style="width: 98%;" class="border d-flex">
        <div class="left border">
            <div style="min-height: 120px" class="d-flex">
                <div class="image">
                    <img width="180" height="120" src="{% static 'img/truck.jpg' %}" />
                </div>
                <div class="w-100" style="padding: 0 12px">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3 class="primary-color" style="padding-left: 20px">Speedy Globe Courier</h3>
                            <p>146 Peel Avenue Manchester, M17 8BL London,United Kingdom</p>
                            <p>Tel +44 7440 230888</p>
                            <p>www.speedyglobecourier.com</p>
                        </div>
                        <div>
                            <img width="100" height="100" src="{% static 'img/speedy_courier.png' %}" />
                        </div>
                        <div style="align-self: flex-end">
                            <p style="font-size: 1.3em;">NO. 319312</p>
                            <p class="primary-color">Airway Bill</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="w-50 border">
                    <p class="input_heading">1. FROM (SENDER)</p>
                    <p class="input border-red">
                        Sender's name: <i>{{ package.senders_name }}</i>
                    </p>
                    <p class="input border-red">
                        Address: <i>{{ package.senders_address }}</i>
                    </p>
                    <p class="input border-red">
                    </p>
                    <p class="input border-red">
                        Phone number: <i>{{ package.senders_tel }}</i>
                    </p>

                    <p class="input_heading">2. TO (RECEIVER)</p>
                    <p class="input border-red">
                        Receiver's name: <i>{{ package.receivers_name }}</i>
                    </p>
                    <p class="input border-red">
                        Address: <i>{{ package.recievers_address }}</i>
                    </p>
                    <p class="input border-red">
                    </p>
                    <p class="input border-red">
                        Tel: <i>{{ package.receivers_tel }}</i>
                    </p>
                    <p class="input_heading">3. REQUIRED SIGNATURES</p>
                    <div class="d-flex flex-column justify-content-center"
                         style="height: 150px; padding-left: 24px; position: relative">
                        <div class="signature">
                            <img width="100" height="50" src="{% static 'img/signature.png' %}" alt="signature" />
                        </div>
                        <p>Sender's Signature</p>

                    </div>
                </div>
                <div class="w-50 border">
                    <p class="input_heading">4. SHIPMENT DETAILS
                        <small>(All payment and services are available in specific countries.)</small></p>
                    <div class="d-flex">
                        <div class="w-50 border" style="padding: 12px;">
                            <p style="font-size: 1.1em; font-weight: bold">Services</p>
                            <p><input disabled type="checkbox" /> DIPLOMAT DOCUMENT</p>
                            <p><input disabled type="checkbox" /> WORLD WIDE DIPLOMATIC PACKAGE</p>
                            <p><input disabled type="checkbox" /> DEMS TO PACKAGE</p>
                            <p><input disabled type="checkbox" /> WORLD MILL</p>
                            <p><input disabled type="checkbox" /> OTHER SERVICEs</p>
                        </div>
                        <div class="w-50 border" style="padding: 24px 12px;">
                            <p><input disabled type="checkbox" /> RECEIVER</p>
                            <p><input disabled type="checkbox" /> CASH/CHEQUE </p>
                            <ps><input disabled type="checkbox" /> CREDIT CARD </ps>
                            <p><input disabled type="checkbox" /> FORMAT BILLING AGREEMENT</p>
                        </div>
                    </div>
                    <p class="outline_heading border" style="text-align: center; font-weight: bold">SHIPMENT INSURANCE</p>
                    <p class="input_heading">5. FROM (SENDER)</p>
                    <div class="d-flex">
                        <div class="border input w-50">
                            <div class="d-flex justify-content-between input" style="padding: 0 24px; box-sizing: border-box">
                                <p class="input">Yes <input disabled type="checkbox" /></p>
                                <p class="input">No <input disabled type="checkbox" /></p>
                            </div>
                            <div class="input border w-100"></div>
                        </div>
                        <div class="w-100">
                            <p class="input border">
                                <span class="padding-left padding-top">Sender's VAT GMT</span>
                            </p>
                            <p class="input border">
                                <span class="padding-left padding-top">Receiver's VAT GMT</span>
                            </p>
                        </div>
                    </div>
                    <div class="input border w-100">
                        <p>Type of export <input disabled type="checkbox" /></p>
                    </div>
                    <div style="position: relative">
                        <div style="padding-left: 12px; padding-top: 12px">
                            <p>Destination duties</p>
                            <p><input disabled type="checkbox" />Receiver</p>
                        </div>
                        <p style="text-align: center">Quote this shipment number at enquiry</p>
                        <div style="margin: 0 auto; width: 400px; position: relative">
                            <img style="margin: 0 auto" width="400" height="80" src="{% static 'img/barcode.png' %}" />
                            <p class="m-0 p-0"
                               style="position: absolute; font-weight: bold; top: 40%; left: 40%; background: #000; color: #fff">555-5323-882</p>
                        </div>
                        <h4 style="margin: 0; padding: 0">
                            TRACKING NUMBER: {{ package.package_id }}</h4>
                        <img width="150" height="150" style="position: absolute; top: 5%; left: 60%" src="{% static 'img/stamp-transparent.png' %}" alt="transparent background" />
                    </div>
                </div>
            </div>
        </div>
        <div class="border right">
            <div class="d-flex">
                <h2 class="input border-red font-weight-bold w-50 m-0 p-0 text-center">ORIGIN</h2>
                <h2 class="input border-red font-weight-bold w-50 m-0 p-0 text-center">DESTINATION</h2>
            </div>
            <div class="d-flex">
                <h4 class="input border-red font-weight-bold w-50 m-0 p-0 text-center">
                    <i>{{ package.senders_country }}</i>
                </h4>
                <h4 class="input border-red font-weight-bold w-50 m-0 p-0 text-center">
                    <i>{{ package.receivers_country }}</i>
                </h4>
            </div>
            <p class="input_heading">6. SIZE AND WEIGHT</p>
            <div class="d-flex">
                <div class="input border-red font-weight-bold w-50 m-0 p-0 text-center">
                    <p>NO OF PIECES</p>
                    <i>{{ package.item_type }}</i>
                </div>
                <div class="input border-red font-weight-bold w-50 m-0 p-0 text-center">
                    <p>WEIGHT</p>
                    <p><i>{{ package.weight }}</i></p>
                </div>
            </div>
            <p class="border-red">X-RAY SCAN REQUEST, NON-HARMFUL CONTENT (NEGATIVE)</p>
            <div class="d-flex">
                <p class="input border-red font-weight-bold w-50 m-0 p-0">DESCRIPTION OF CONTENT:</p>
                <p class="border-red font-weight-bold w-50 m-0 p-0 text-center"><i>{{ package.item_type }}</i></p>
            </div>
            <p class="border-red font-weight-bold">VOLUME TRAIC/CHARGE WEIGHT</p>
            <div class="border-red d-flex" style="align-items: center; justify-content: space-between; height: 40px">
                <p class="m-0 p-0" style="font-size: 0.7em;">CODES</p>
                <p class="m-0 p-0" style="font-size: 0.7em;">CLEARING CHARGES SERVICE</p>
            </div>
            <div class="d-flex">
                <p class="input border-red font-weight-bold w-50 m-0 p-0 text-center" style="background: red; color: #fff">
                    SHIPMENT CHARGES</p>
                <p class="input border-red font-weight-bold w-50 m-0 p-0 text-center">
                    <i>PAID</i>
                </p>
            </div>
            <div class="d-flex">
                <p class="input border-red font-weight-bold w-50 m-0 p-0 text-center" style="background: red; color: #fff">
                    CLEARANCE CHARGE TO BE PAID LOCALLY</p>
                <p class="input border-red font-weight-bold w-50 m-0 p-0 text-center"><i>${{ package.delivery_fee }}</i></p>
            </div>
            <div class="d-flex">
                <p class="input border-red font-weight-bold w-50 m-0 p-0 text-center">DEPT. DATE</p>
                <p class="input border-red font-weight-bold w-50 m-0 p-0 text-center">
                    <i>{{ package.estimated_time_of_departure }}</i>
                </p>
            </div>
            <div class="d-flex">
                <p class="input border-red font-weight-bold w-50 m-0 p-0 text-center">ARRIVAL DATE</p>
                <p class="input border-red font-weight-bold w-50 m-0 p-0 text-center">
                    <i>{{ package.estimated_time_of_arrival }}</i></p>
            </div>
            <div class="d-flex">
                <p class="input border-red font-weight-bold w-50 m-0 p-0 text-center"></p>
                <p class="input border-red font-weight-bold w-50 m-0 p-0 text-center"></p>
            </div>
            <div class="d-flex border-red" style="align-items: center; justify-content: center; height: 40px">
                <p class="font-weight-bold">PACKED BY:</p>
            </div>
            <div style="height: 146px; align-items: center; justify-content: center; flex-direction: column" class="border-red d-flex">
                <img width="100" height="40" src="{% static 'img/receipt-2.png' %}"/>
                <p style="background: #000; width: 60%; height: 4px;"></p>
                <p><i>Harry Smith</i></p>
            </div>
        </div>
    </div>
    <p class="font-weight-bold" style="padding-bottom: 40px;">ITEMS: <span class="hand">{{ package.items }}</span></p>
</body>
<style>
    .text-center {
        text-align: center;
    }
    .font-weight-bold {
        font-weight: bold;
    }
    p, p * {
        font-size: 0.85em;
    }
    .m-0 {
        margin: 0
    }
    .p-0 {
        padding: 0;
    }
    .w-100 {
        width: 100%;
    }
    .outline_heading {
        height: 30px;
        line-height: 30px;
        padding-left: 4px;
    }
    .signature {
        border-bottom: 1px solid black;
        width: 150px;
    }
    .border-red {
        border: 1px solid darkred;
    }
    .d-flex {
        display: flex;
    }
    .align-items-center {
        align-items: center;
    }
    .justify-content-center {
        justify-content: center;
    }
    .flex-column {
        flex-direction: column;
    }
    .input {
        font-size: 0.8em;
        min-height: 30px;
    }
    .padding-left {
        padding-left: 4px;
    }
    .padding-top {
        padding-top: 4px;
    }
    .hand, .input i, i {
        font-size: 1.5em;
        color: #000F55;
        padding-left: 12px;
        padding-top: 8px;
        text-decoration: none;
        font-family: kristi;
    }
    .input_heading {
        height: 25px;
        line-height: 25px;
        background-color: #8191d3;
        color: #fff;
        padding-left: 4px;
    }
    .border {
        border: 1px solid blue;
    }
    .w-50 {
        width: 50%;
    }
    .w-100 {
        width: 100%;
    }
    p {
        margin: 0;
        padding: 0;
    }
    .image {
        width: 180px;
        height: 120px;
    }
    .d-flex {
        display: flex;
    }
    .left {
        width: 80%;
    }
    .right {
        width: 20%;
    }
    .justify-content-between {
        justify-content: space-between;
    }
    .primary-color{
        color: #f6a515
    }
</style>
</html>