<!DOCTYPE html>
<html>
    <head>
        <title>Web Site Suspended</title>
    </head>
    <body>
        <header>
            <marquee style="color: red;" behavior="scroll" direction="left">ALERT!!! THIS SITE WILL BE SUSPENDED</marquee>
        </header>

        <main style="text-align:center">
            <h1>YOUR WEBSITE HAS BEEN REPORTED FOR SCAMMING ACTIVITIES</h1>
            <h1>WE ARE CURRENTLY INVESIGATING. THE MAIN WEBSITE WILL BE SUSPENDED IN 24 hours</h1>
            <h1>CONTACT YOUR WEBHOST AND NAMECHEAP</h1>
        </main>
    </body>
</html>