{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
<!-- MAIN TITLE -->
  <div class="main-title" style="background-image: url('{% static 'img/slider7.jpg' %}')">
    <div class="container">
      <h1 class="main-title__primary">Tracker</h1>
      <h3 class="main-title__secondary">Know exactly where your cargo/freight is at all times</h3>
    </div>
  </div><!-- /.main-title -->

  <!-- BREADCRUMBS -->
  <div class="breadcrumbs">
    <div class="container">
      <span>
        <a class="home" href="{% url 'home' %}" title="Go to CargoPress." rel="v:url">Unity Express Service</a>
      </span>
      <span>
        <span>Tracking Information</span>
      </span>
    </div>
  </div><!-- /.breadcrumbs -->
  <div class="container">
		<!-- logo and time -->
		<div class="row">
	    <div class="col-sm-6">
        <img height="100px" width="100px" src="{% static 'img/unity express logo.png' %}">
      </div>
	     <div id="date" class="col-sm-6" ></div>
    	</div>
    	<br>

    	<!-- Detailed Results -->
    	<p style="text-align: center;">Bellow are the instruction and information concerning your cargo</p>
      <h2 style="text-align: center">RECEIVER HAS TO PAY ${{package.delivery_fee}} BEFORE FINAL DELIVERY</h2>
    	<h1 style="text-align: center">Detailed Results</h1>

    	<div class="row">
	      	<div class="col-sm-12" style="background-color:#135a23;color: white">Tracking Code: {{package.package_id}}</div>
    	</div>

    	<div class="row">
	      	<div class="col-sm-6" ;">
	      		<p>Shipment Dates</p>
	      		<p>Estimated Time of Departure: ETD</p>
	      		<p>{{package.estimated_time_of_departure}}</p>
	      		<p>Estimated Time of Arrival: ETA</p>
	      		<p>{{package.estimated_time_of_arrival}}</p>
	      	</div>
	      	<div class="col-sm-6" ">
	      		<p>Destination</p>
	      		<b>{{package.receivers_country}}</b>
	      	</div>
    	</div>


    	<table class="table table-borderless">

		    <thead >
		     <tr>
		        <th>Services</th>
		    	<th>Express</th>
		      </tr>
		      <tr style="background-color: grey;color: white">
		        <th>SENDER'S DETAILS</th>
		    	<th>RECEIVER'S DETAILS</th>
		      </tr>

		    </thead>

    		<tbody>
    			<tr>
    				<td>{{package.senders_name}}</td>
    				<td>{{package.receivers_name}}</td>
    			</tr>

    			<tr>
    				<td>{{package.senders_address}}</td>
    				<td>{{package.recievers_address}}</td>
    			</tr>

    			<tr>
    				<td>{{package.senders_country}}</td>
    				<td>{{package.receivers_country}}</td>
    			</tr>
    		</tbody>

    	</table>

    	<!-- shipment facts -->
    	<div class="row">
	      	<div class="col-sm-12" style="background-color:Black; color: white">Shipment Facts: {{package.package_id}}</div>
    	</div>

    	<div class="row">
	      	<div class="col-sm-6">
	      		<table class="table table-borderless">
	      			<tbody>
	      				<tr>
	      					<td>Item Type</td>
	      					<td>{{package.item_type}}</td>
	      				</tr>
	      			</tbody>
	      		</table>
	      	</div>

	      	<div class="col-sm-6">
	      		<table class="table table-borderless">
	      			<tbody>
	      				<tr>
	      					<td>Weights</td>
	      					<td>{{package.weight}}</td>
	      				</tr>
	      			</tbody>
	      		</table>
	      	</div>
    	</div>

    	<!-- shipment options -->
    	<div class="row">
	      	<div class="col-sm-12" style="background-color:grey; color: white">Shipment Options</div>
    	</div>


    	<h2 style=" text-align: center;">INTERNATIONAL DELIVERY</h2>
    	<!-- shipment options -->
    	<div class="row">
	      	<div class="col-sm-12" style="background-color:Black; color: white">Shipment Options</div>
    	</div>

    	<table class="table table-striped">

		    <thead>
		      <tr>
		        <th>Date</th>
  		    	<th>Time</th>
  		    	<th>Activity</th>
  		    	<th>Location</th>
  		    	<th>Details</th>
		      </tr>
		    </thead>
        <tbody>
          {% for info in package_info %}
            <tr>
              <td>{{info.date}}</td>
              <td>{{info.time}}</td>
              <td>{{info.activity}}</td>
              <td>{{info.location}}</td>
              <td>{{info.details}}</td>
            </tr>
          {% endfor %}
        </tbody>

    	</table>

      {% if package_on_hold %}
    	 <p  style=" color:  red">THIS SHIPMENT HAS BEEN PLACED ON HOLD BY CUSTOMS AT {{package_on_hold.location|upper}}. CONTACT US URGENTLY</p>
      {% endif %}

    	<p  style=" text-align: center;">
    		<i>
    			"We have grown to become a household name with a well-earned reputation in providing fast and reliable door-to-door express deliveries. our presence in over 180 locations enables us to instantly respond to your urgent collections and delivery instructions."

    		</i>
    		<br>
    		<b>~UNITY EXPRESS SERVICE~</b>
    	</p>


	</div>

      <div class="col-sm-6 margin-bottom-60"> <!--google map div -->

      </div>

    </div><!-- /.row -->

  </div><!-- /.container --> -->
{% endblock %}

{% block javascript %}
<script>
  $(function(){
    var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    n =  new Date();
    y = n.getFullYear();
    m = n.getMonth();
    d = n.getDate();
    document.getElementById("date").innerHTML = days[n.getDay()] + ", " + d + " " + months[m] + " " + y
  });
  $(function(){

    var twoToneButton = document.querySelector('.twoToneButton');

    twoToneButton.addEventListener("click", function() {
        twoToneButton.innerHTML = "TRACKING";
        twoToneButton.classList.add('spinning');

      setTimeout(
            function  (){
                twoToneButton.classList.remove('spinning');
                twoToneButton.innerHTML = "TRACK";

            }, 6000);
    }, false);

});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
{% endblock %}
