{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<!-- MAIN TITLE -->
		<div class="main-title" style="background-image: url('{% static 'img/1.jpeg' %}')">
			<div class="container">
				<h1 class="main-title__primary">Storage</h1>
			</div>
		</div><!-- /.main-title -->

		<!-- BREADCRUMBS -->
		<div class="breadcrumbs">
			<div class="container">
				<span>
					<a class="home" href="{% url 'home' %}" title="Go to CargoPress." rel="v:url">Speed Courier Service</a>
				</span>
				<span>
					<a class="post post-page" href="{% url 'services' %}" title="Go to Services." rel="v:url">Services</a>
				</span>
				<span>
					<span>Storage</span>
				</span>
			</div>
		</div><!-- /.breadcrumbs -->

		<div class="container">

			<div class="row">

				<main class="col-xs-12 col-md-9 col-md-push-3">

					<div class="row margin-bottom-30">

						<div class="col-sm-6">

							<p>
								We take pride in catering to a broad range of clientele throughout the country with our warehousing services, which is comprehensive, reliable and flexible – qualities that are essential to help businesses in this market. Our experienced experts design a supply chain flowchart tailored to meet your business and logistic needs, which focuses on not only increasing efficiency, but cutting down costs. With our vast network of warehouses and distribution centers spread throughout the country, it becomes much easier to cater to a audience in a record response time, which is the key factor in winning the hearts of the customer and having an edge over the competitors.
							</p>

							<p>
								Team of logistic experts are always available to help you with any queries you might have, or if you want to consult in length your logistic requirements. We would study your requirements and provide you with a quote that would not only suit your budget, but would also save you considerable amount of money in the long term. Our company has through years of experience in this industry has been able to create a network of associates across the length and breadth of country, with our own logistic centers spread throughout the country, which helps us to provide safe, reliable, economical and customized logistic solutions to our clients and partners.
							</p>

						</div><!-- /.col -->

						<div class="col-sm-6">

							<p>
								<img alt="placeholder" src="{% static 'img/6.jpg' %}" class="alignnone">
							</p>

							<p>
								<img alt="placeholder" src="{% static 'img/slider3.jpg' %}" class="alignnone">
							</p>

						</div><!-- /.col -->

					</div><!-- /.row -->

				</main><!-- /.col -->

				<div class="col-xs-12 col-md-3 col-md-pull-9">

					<div class="sidebar widget_nav_menu">
            <ul class="menu" id="menu-services-menu">
							<li>
								<a href="{% url 'services' %}">All Services</a>
							</li>
							<li>
								<a href="{% url 'services_ground_transport' %}">Ground Transport</a>
							</li>
							<li>
								<a href="{% url 'services_cargo' %}">Cargo</a>
							</li>
							<li>
								<a href="{% url 'services_ware_housing' %}">Warehousing</a>
							</li>
							<li>
								<a href="{% url 'services_logistic_service' %}">Logistic Service</a>
							</li>
							<li>
								<a href="{% url 'services_truck_service' %}">Trucking Service</a>
							</li>
							<li class="current-menu-item">
								<a href="{% url 'services_storage' %}">Storage</a>
							</li>
						</ul>
					</div><!-- /.sidebar -->

				</div><!-- /.col -->

			</div><!-- /.row -->

		</div><!-- /.container -->
					</div><!-- /.sidebar -->

				</div><!-- /.col -->

			</div><!-- /.row -->

		</div><!-- /.container -->
{% endblock %}
